{% extends "base.html" %}
<!--
The idea is that index.html inherits from base.html (it uses all its contents) except for the blocks marked
with these special template tags. In that case, it substitutes the content inside the template tag of index.html
into the corresponding block in base.html.
-->
{% block head_title %}Home{% endblock %}

{% block content %}
    <div class="jumbotron">
        <div class="container">
            <h1>Hi everyone in my City!</h1>
            <p>Fichaje is an initiative that want empower to people who love the 'football/soccer/fútbol/picaditos' supporting them to find another people for practice them, scenarios and meet players and coach around of the city.</p>
            <p><a class="btn btn-primary btn-lg" href="#" role="button">Coming soon &raquo;</a></p>
        </div>
    </div>
{% endblock %}

